.Login{
    border: 1px solid white;
    background-color: hsl(0, 24%, 91%);
    width: max-content;
    border-radius: 10px;
    justify-self: center;
    color: black;
    padding: 50px 20px 20px 20px;
}

.Login .inp{
    margin-block: 10px;
    background-color: rgb(162, 193, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.inp input, .inp select{
    background-color: transparent;
    background-color: rgb(137, 175, 247);
    width: 90%;
    text-align: left;
    height: 100%;
    border-radius: 0;
    margin: 0;
    min-width: 130px;
}

.Login .icon{
    background-color: rgb(211, 211, 243);
    border-radius: 100%;
    padding: 30px;
    position: absolute;
    top: -45px;
}

.icon :only-child{
    width: 100%;
}

.Login .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.text p, .inp p{
    margin-inline: 10px;
}
.Login p{
    text-align: center;
}
::placeholder{
    color: white;
}

.time input{
    width: 10px;
}

.inp svg{
    margin-inline: 5px;
}

.Login button {
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    margin: 5px;
    align-items: center;
    width: 100%;
  }
  
  button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  input{
      background-color: cornflowerblue;
      border: none;
      font-size: 16px;
      text-align: center;
      color: cornsilk;
      padding: 10px;
      width: max-content;
      margin: 10px;
  }

  input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

   select {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: max-content;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    text-align: center;
    margin: 10px;
  }
  
  tbody tr:hover{
    background-color: bisque;
  }

  input{
    padding: 5px;
    border-radius: 10px;
    outline: none;
}
  
  @media (min-width: 768px) {
    button {
      padding: 1rem 2rem;
    }
  }